html {
    scroll-behavior: smooth;
}

*:focus {
    border: 2px solid;
}

main ul {
    list-style: square;
    margin-left: 30px;
}
a:link, a:visited, a:hover, a:active{
    color: #00274C;
}

header a:link, header a:visited, header a:hover, header a:active{
    color: white;
}
footer a:link, footer a:visited, footer a:hover, footer a:active{
    color: white;
}

*{
    font-family: "IBM Plex Sans", sans-serif;
    line-height: 1.5;
}

a {
    font-size: 20px;
    text-align: center;
}

header a {
    text-decoration: none;
}
header .selected {
    text-decoration: underline;
}
.skip a {
    position: relative;
    top: -100px
}
.skip a:focus {
    top: 0px;
}
.container {
    display: grid;
    color: #00274C;
    grid-template-columns: 1fr 6fr 1fr;

    align-items: center;
    justify-content: center;
    row-gap: 20px;
}
.imgbox{
    grid-column-start: 1;
    grid-column-end: 4;
    max-height: 600px;
    z-index: 0;
    overflow: hidden;
}
.textbox {
    background-color: rgba(255, 255, 255, .8);
    grid-column-start: 2;
    grid-column-end: 2;
    border: 8px solid #00274C;
    max-height: 400px;
    z-index: 1;

    text-align: left;
    vertical-align: middle;
    overflow: scroll;
}

.textbox-full {
    grid-column-start: 2;
    grid-column-end: 2;
    max-height: 750px;

    text-align: left;
    vertical-align: middle;
    overflow: hidden;
    margin: auto;
}

p, li {
    font-size: 20px;
    padding: 15px;
    padding-top: 0px;
}

.textbox li {
    text-align: left;
}

header {
    background-color: #00274C;
    text-decoration-color: #FFCB05;
    font-family: "IBM Plex Sans", sans-serif;
    color: #FFCB05;
    padding: 25px;
    margin: 0px;
    border: 0px;
}
h1, h2 {
    font-size: 24px;
    padding: 20px;
    font-weight: bold;
    text-align: center;
}
h1 {
    font-size: 30px;
}
h3 {
    font-size: 20px;
    padding: 15px;
    font-weight: bold;
}
.row-1 {
    grid-row-start: 1;       
    grid-row-end: 1;  
}
.row-2  {
    grid-row-start: 2;       
    grid-row-end: 2;  
}
.row-3  {
    grid-row-start: 3;       
    grid-row-end: 3;  
}
.row-4 {
    grid-row-start: 4;       
    grid-row-end: 4;  
}
.row-5 {
    grid-row-start: 5;       
    grid-row-end: 5;  
}
.row-6 {
    grid-row-start: 6;       
    grid-row-end: 6;  
}
nav {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    line-height: 1.5;
}
nav li {
    display: inline;
    list-style: none;
    text-align: center;
    margin: auto;
}
#logo {
    width: 100px;
}
body{
    margin: 0;
    padding: 0;
}
footer {
    background-color: #00274C;
    font-family: "IBM Plex Sans", sans-serif;
    text-align: center;
    color: white;
    padding: 25px;
}

@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto;
    }
}